.content {
    display: flex;
    flex-direction: column;
    font-size: var(--fontsize-content);
    color: var(--color-Grey-dark-2);

    &_top {
        display: flex;
        gap: 0.3rem;
        padding: 0.3rem;
        background-color: var(--color-Grey-light-3);

    }
}